{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Mail{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static 'mail/assets/img/favicon.png' %}">
        <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        {% block styles %}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>